@media screen and (max-width: 767px) {
  /* Style cho màn hình có độ rộng nhỏ hơn hoặc bằng 767px */
.infor p{
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

}
.App a img{
  width: 60%;
  margin: 30px 5rem;
  display: flex;
  border-radius: 5%;
}
h3{
  background-color: #eee;
  padding-left: 10px;
}
}
