@media screen and (max-width: 767px) {
  /* Style cho màn hình có độ rộng nhỏ hơn hoặc bằng 767px */
.infor p{
  font-size: 15px;
  font-weight: 500;


}
.App a img{
  width: 60%;
  margin: 30px 5rem;

  border-radius: 5%;
}
h3{
  background-color: #eee;
  padding-left: 10px;
}
}
